{
  "semi": false,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "es5",
  "printWidth": 80,
  "tailwindStylesheet": "./app/globals.css",
  "tailwindFunctions": ["cn", "cva", "clsx"],
  "plugins": ["prettier-plugin-tailwindcss"]
}
